:root {
    background-color: white;
    --primary: crimson;
    --secondary: yellow;
    --third: black;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* nav styles */

.container { 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: var(--primary);
    color: white;
}

.logo {
    font-size: 35px;
    margin: 15px;
}
.nav_links ul  {
    margin: 0;
    padding: 0;
    display: flex;
}
.nav_links li {
    list-style: none;
}
.nav_links li a {
text-decoration: none;
color: whitesmoke;
padding: 15px;
display: block;
}
.nav_links li:hover {
    background-color: var(--third);
}



/*.nav_links{


}
h2 {
    color: black;
}