:root {
    background-color: white;
    --primary: crimson;
    --secondary: yellow;
    --third: black;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* nav styles start */
#nav { 
    position: fixed;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    background-color: var(--primary);
    width: 100%;
}

.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: whitesmoke;
    margin-right: 0px;
    cursor: pointer;
    padding: 20px; 
}
li{
    list-style: none;
    display: inline-block;
    justify-content: space-evenly;
    padding-right: 50px;
    padding-left: 50px; 
}
li, a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

.nav_links li a {
    transition: all 0.3s, ease 0s;
}
.nav_links li:hover {
    background-color: var(--third);
    border: 1px;
}
.container {
    margin: 0;
    margin-top: 100px;
    display: flex;
    /* justify-content: left; */
    flex-direction: column;
}
.flexbox_2 {
justify-content: right;
}